<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>CamelPilot</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <!-- Custom styles for this template -->
    <link  type="text/css" href="/css/login.css" rel="stylesheet" />
    <link  type="text/css" href="/css/style.css" rel="stylesheet" />

  </head>

  <body>

    <div class="container">

      <form class="form-signin" >      	
        <h1>Camel Pilot</h1>
        <h2 class="form-signin-heading">Enter the User</h2>
        <label for="inputEmail" class="sr-only" >Username</label>
        <input type="text" class="form-control" name="username" id="username"/>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" class="form-control" name="password" id="password"/>        
        <button class="btn btn-lg btn-primary btn-block" type="submit">
        	<span class="glyphicon glyphicon-log-in" ></span> Sign in
        </button>
      </form>

    </div> 

</body>
</html>